.carousel {
    padding: 2rem;
    background: #060a1692;
    /* background: linear-gradient(125deg, #030e317d, #07275064); */
    border-radius: 10px;
    color: #b6b6b6;
}



.card {
    padding: 1.5rem;
    background-color:linear-gradient(125deg, #030e317d, #07275064);
    border-left: 4px solid #4CAF50;
    box-shadow: 0 2px 6px rgba(228, 226, 226, 0.279);
    border-radius: 6px;
}

.card p {
    font-style: italic;
    color: #b6b6b6;
}

.card h4 {
    margin-top: 1rem;
    font-weight: normal;
    color: #b6b6b6;
}